<div class="row">
    <div class="col-lg-8 col-lg-push-4" ng-hide="processing">
        <h1>Auto <span ng-bind="state === 'add' ? 'toevoegen' : 'bewerken'"></span></h1>
        
        <form>
            <div class="form-group">
                <label>
                    <p>Kentekenplaat</p>
                    <input type="input" class="form-control" placeholder="12-ABC-1" ng-model="car.licensePlate">
                </label>
            </div>
            <button type="submit" class="btn btn-success" ng-click="processCar()">
                Auto <span ng-bind="state === 'add' ? 'toevoegen' : 'bewerken'"></span>
            </button>
        </form>
    </div>
</div>

<div class="row">
    <div class="center-block text-center" ng-hide="processing">
        <i class="fa fa-spinner fa-pulse fa-4x fa-fw"></i>
    </div>
</div>